<div class="contain">
  <div class="titler">
    <h1>Discover the latest <span class="green-text">movies</span> from you favorite creators</h1>
  </div>
  <div class="center-carousel mh-25 w-100 mb-5" >
    <div class="carousel-img mh-25 mb-5">
      <%= render "shared/carousel-movie" %>
    </div>
  </div>
  <div class="green-div w-100 h-20 mb-5">
    <h1>search</h1>
    <h2>genre</h2>
    <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
    <div class="cardies ">
      <% @movies.each do |movie| %>
        <% if current_user.creators.ids.include? movie.creator_id %>
          <%= content_tag :div, id: dom_id(movie) do %>
            <div class="cardie-trip">
              <img src= "<%= movie.poster_url %>", alt="Book poster">
              <div class="card-trip-infos">
                <h2><strong>Title: </strong><%=link_to movie.name, movie_path(movie) %></h2> <br>
                <strong>Release Date: </strong><%= movie.release_date %> <br>
                <strong>Director: </strong> <%= movie.creator.name %>
              </div>
              <div data-controller="movie-index">
                <% if current_user.favorited?(movie) %>
                  <%= link_to custom_unfav_path(movie), data: { turbo_method: :post } do %>
                    <i class="fa-solid fa-heart" style="color:#0ecdab;" data-action="click->movie-index#favorite"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorite_movie_path(movie), data: { turbo_method: :post } do %>
                    <i class="fa-solid fa-heart" data-action="click->movie-index#favorite"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
