<div class="contain">
  <div class="titler">
    <h1>Discover the latest <span class="green-text">movies</span> from you favorite creators</h1>
  </div>
  <%# =================Carousel======================== %>
  <div class="center-carousel mh-25 w-100 mb-5" >
    <div class="carousel-img mh-25 mb-5">
      <%= render "shared/carousel-movie" %>
    </div>
  </div>
  <div class="green-div w-100 h-20 mb-5 py-5 d-flex justify-content-center">
  <%# ====================Search========================= %>
    <%= form_with url: movies_path, method: :get, class: "d-flex w-50 px-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
      <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>
  <%# ===================Cards======================== %>
    <div class="cardies">
      <% @movies.each do |movie| %>
        <% if current_user.creators.ids.include? movie.creator_id %>
          <%= content_tag :div, id: dom_id(movie) do %>
            <div class="cardie-trip">
              <div data-controller="movie-index">
                <% if current_user.favorited?(movie) %>
                  <%= link_to custom_unfav_path(movie), data: { turbo_method: :post } do %>
                    <i class="fa-solid fa-heart btn-heart-checked" data-action="click->movie-index#favorite"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorite_movie_path(movie), data: { turbo_method: :post } do %>
                    <i class="fa-solid fa-heart btn-heart-unchecked" data-action="click->movie-index#favorite"></i>
                  <% end %>
                <% end %>
                <%= link_to movie_path(movie) do %>
                  <div class="img-contain">
                    <img class="img centered" src= "<%= movie.poster_url %>", alt="Book poster">
                  </div>
                <% end %>
              <div class="card-trip-infos">
                <p id="content-title"><%=link_to movie.name, movie_path(movie) %></p>
                By <%= movie.creator.name %> <br>
                <br>
                <p>
                  <i class="fa-solid fa-calendar-day"></i>
                  <%= movie.release_date %> <br>
                </p>
              </div>

              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
