<div class="content-details">
<div class="show-container">
  <div class="movie-img">
    <%= image_tag @movie.poster_url %>
  </div>
  <div class="card content-details">

    <p class="card-text"> By <%= @movie.creator.name %></p>
    <h1 class="card-title">
        <%= @movie.name %>
    </h1>
    <p class="card-text">Released on <%= @movie.release_date %></p>


    <p class="card-text"><%= @movie.description %></p>
  </div>
</div>
