<div class="shower-align-vertical">
  <div class="content-details">
    <div class="shower-container">
      <div class="movie-img">
        <%= image_tag @movie.poster_url %>
      </div>
      <div class="mx-5">
        <h1 class="card-title my-5"> <%= @movie.name %></h1>
        <h3 class="card-text my-4">
          By <%= @movie.creator.name %>
        </h3>
        <p class="card-text">Released on <%= @movie.release_date %></p>
        <p class="cardtext-light"><%= @movie.description.first(300) %>...</p>
      </div>
    </div>
  </div>
</div>
