<div class="contain">
  <div class="titler">
    <h1>Your Favorites</h1>
  <div class="cards">
    <% @favorites.each do |favorite| %>
      <div class="card-trip m-3" data-controller="my-favorites-index" data-my-favorites-index-target="favorite">
        <div class="img_contain">
          <img src="<%= favorite.poster_url %>" alt="Books poster">
        </div>
        <div class="card-fav-info">
          <% if favorite.class == Album || favorite.class == Concert %>
            <h2> <strong><%= link_to favorite.name, music_path(favorite) %></strong></h2>
             by <%= Creator.find(favorite.creator_id).name %>
            <i class="fa-solid fa-headphones"></i>
          <% elsif favorite.class == Movie %>
            <h2> <strong><%= link_to favorite.name, music_path(favorite) %></strong></h2>
             by<%= Creator.find(favorite.creator_id).name %>
            <i class="fa-solid fa-film"></i>
          <% elsif favorite.class == Book %>
            <h2> <strong><%= link_to favorite.name, music_path(favorite) %></strong></h2>
            by <%= Creator.find(favorite.creator_id).name %>
            <i class="fa-solid fa-book-open"></i>
          <% end %>
        <%= link_to unfavorite_path(favorite), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this favourited content?" } do %>
          <i class="fa-solid fa-heart btn-heart-checked" data-action="click->my-favorites-index#delete"></i>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
