  <div class="buttoner">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <%= image_tag("carousel-icon-prev.svg") %>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval= "2000">
      <%# <img src="https://c4.wallpaperflare.com/wallpaper/616/28/36/neuromancer-drawing-book-cover-cyberpunk-wires-hd-wallpaper-preview.jpg" class="d-block w-100" alt="..."> %>
      <%= link_to book_path(@pictures[0]) do %>
        <%= image_tag @pictures[0].poster_url, class: "d-block w-100" %>
      <% end %>
    </div>
    <div class="carousel-item" data-bs-interval= "2000">
      <%# <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4Zro_RoHdeOIrb4B_HYiAUze1j6yeCV6cJQ&usqp=CAU" class="d-block w-100" alt="..."> %>
      <%= link_to book_path(@pictures[1]) do %>
        <%= image_tag @pictures[1].poster_url, class: "d-block w-100" %>
      <% end %>
    </div>
    <div class="carousel-item " data-bs-interval= "2000">
      <%# <img src="https://c4.wallpaperflare.com/wallpaper/921/904/937/dandd-dungeons-and-dragons-book-cover-basic-set-wallpaper-preview.jpg" class="d-block w-100" alt="..."> %>
      <%= link_to book_path(@pictures[2]) do %>
        <%= image_tag @pictures[2].poster_url, class: "d-block w-100" %>
      <% end %>
    </div>
  </div>
</div>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <%= image_tag("carousel-icon-next.svg") %>
    <span class="visually-hidden">Next</span>
  </button>
