<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-item d-flex w-100 justify-content-between mx-3">
      <div class="item-bis">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "https://i.postimg.cc/J4sytJKq/Minder-Logo-3.png"%>MINDER
        <% end %>
      </div>

      <% if user_signed_in? %>
        <%= link_to "Discover", "#", class: "nav-link" %>
        <%= link_to "Music", "#", class: "nav-link" %>
        <%= link_to "Books", "#", class: "nav-link" %>
        <%= link_to "Movies", "#", class: "nav-link" %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
</div>
