<div class="contain">
  <div class="titler">
    <h1>Discover the latest <span class="green-text">books</span> from you favorite authors</h1>
  </div>
  <div class="center-carousel mh-25 w-100 mb-5" >
    <div class="carousel-img mh-25 mb-5">
      <%= render "shared/carousel-book" %>
    </div>
  </div>
  <div class="green-div w-100 h-20 mb-5 py-5 d-flex justify-content-center">
    <%= form_with url: books_path, method: :get, class: "d-flex w-50 px-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a book"
      %>
      <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>
    <div class="cards">
      <% @books.each do |book| %>
        <% if current_user.creators.ids.include? book.creator_id %>
          <div class="card-trip">
            <%= link_to book_path(book) do %>
              <div class="img_contain">
                <img class="img centered" src= "<%= book.poster_url %>", alt="Book poster">
              </div>
            <% end %>
            <div class="card-trip-infos">
              <h2><strong>Title: </strong><%= link_to book.name, book_path(book) %></h2> <br>
              <strong>Author: </strong> <%= book.creator.name %>
              <strong>Author: </strong> <%= book.release_date %>
            </div>
            <% if current_user.favorited?(book) %>
              <%= link_to custom_unfav_path(book) do %>
                <i class="fa-solid fa-heart" style="color:#0ecdab;"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_book_path(book) do %>
                <i class="fa-solid fa-heart"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
