<h1>My Books 📚</h1>

<p> <%= current_user %></p>
<% @books.each do |book| %>
  <ul>
    <li><%= book.name %></li>
    <div><%= book.release_date %></div>
    <%= book.poster_url %>
    <div><img src= "<%= book.poster_url %>", alt="Book poster"></div>
    <div> <%= book.creator.name %> </div>
  </ul>
<% end %>
