<div class="contain">
  <div class="titler">
    <h1>My Books 📚</h1>
  </div>
    <div class="cards">
      <% @books.each do |book| %>
        <% if current_user.creators.ids.include? book.creator_id %>
          <%= link_to book_path(book) do %>
            <div class="card-trip">
              <img src= "<%= book.poster_url %>", alt="Book poster">
              <div class="card-trip-infos">
                <h2><strong>Title: </strong><%= book.name %></h2> <br>
                <strong>Author: </strong> <%= book.creator.name %>
                <strong>Author: </strong> <%= book.release_date %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>
