<div class="content-details">
<div class="show-container">
  <div class="book-img">
    <%= image_tag @book.poster_url %>
  </div>
  <div class="card content-details">

    <p class="card-text"> By <%= @book.creator.name %></p>
    <h1 class="card-title">
        <%= @book.name %>
    </h1>
    <p class="card-text">Released on <%= @book.release_date %></p>

    <p class="card-text"><%= @book.description %></p>
  </div>
</div>
</div>
