<div class="show-container">
  <div class="book-img">
    <%= image_tag @book.poster_url %>
  </div>
  <div class="card content-details">
    <p class="card-text"><%= @book.creator.name %></p>
    <p class="card-title"><%= @book.name %></p>
    <p class="card-text">Upcoming release on <%= @book.release_date %></p>
    <p class="card-text"><%= @book.description %></p>
  </div>
</div>
