<div class="shower-align-vertical">
  <div class="content-details">
    <div class="show-container">
      <div class="movie-img">
        <%= image_tag @book.poster_url %>
      </div>
      <div class="mx-5">
        <p class="card-text"> By <%= @book.creator.name %></p>
        <h1 class="card-title">
          <%= @book.name %>
        </h1>
        <p class="card-text">Released on <%= @book.release_date %></p>
        <p class="cardtext-light"><%= @book.description.first(300) %>...</p>
      </div>
    </div>
  </div>
</div>
