<div class="container-creator-selection">
  <div class="titler d-flex justify-content-center">
    <h1>Let's choose the <span class="green-text">artists</span> you'd like to follow!</h1>
  </div>
  <div class="cards">
    <% @unfollowed_artists.each_with_index do |artist, index| %>
      <div class="card-trip">
        <img src="<%= artist.poster_url %>" alt="Album poster"/>
        <div class="card-trip-infos text-center">
          <%= artist.name %>
          <%= form_with url:create_followed_creator_path, method: :post do |f| %>
            <%= f.text_field :creator_id, type: :hidden, value: artist.id %>
            <%= f.submit '+', :class => 'btn-follow' %>
          <% end %>

        </div>
      </div>
    <% break if index == 7 %>
    <% end %>
  </div>
</div>

<div class="buttoner d-flex justify-content-between">
  <div class="my-5">
    <div class="bis">
      <%= link_to "Back", director_setup_path, class:"btn-ghoster" %>
    </div>
  </div>

<div class="my-5">
    <div class="bis">
      <%= link_to "Finish", summaries_path, class:"btn-ghoster" %>
    </div>
  </div>

  </div>
