<%# <%= simple_form_for @followed_creator, url: :create_creator do |f| %> %>
 <%# <%= f.label 'parent' %> %>
 <%# <%= f.select :creator, @unfollowed_creators.map { |creator| creator.name } %> %>
 <%# <%= f.submit "Follow Creator" %> %>
<%# <% end %> %>

<div class="d-flex justify-content-end"></div>
<%= form_with url: my_creators_new_path, method: :get, class: "d-flex" do |f| %>
  <%= f.select :query, ["Music", "Movie", "Book"],
    class: "form-control",
    placeholder: "Filter"
  %>
  <%= submit_tag "Filter", class: "btn btn-primary" %>
<% end %>

<%# New card version test %>
<div class="container-creator-selection">
  <h1>Choose any creators you'd like to start following</h1>
  <div class="cards">
    <% @creators.each do |author| %>
      <div class="card-trip">
        <img src="<%= author.poster_url %>" alt="Album poster"/>
        <div class="card-trip-infos">
          <%= author.name %>
          <%= form_with url:create_followed_creator_path, method: :post do |f| %>
          <%= f.text_field :creator_id, type: :hidden, value: author.id %>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="btn-ghost"> <%= link_to "Next", director_setup_path %> </div>
