<div class="container-creator-selection mx-0">
  <div class="titler d-flex justify-content-center">
    <h1>Add more <span class="green-text">creators</span> to follow</h1>
  </div>
  <div class="green-div w-100 h-20 mb-5 py-5 d-flex justify-content-center">

    <%= form_with url: my_creators_new_path, method: :get, class: "d-flex w-50 px-3" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an artist, author or dirctor..."
          %>
          <%= submit_tag "Search", class: "btn-search" %>
    <% end %>

    <%= form_with url: my_creators_new_path, method: :get, class: "d-flex" do |f| %>
      <%= f.select :query, ["All", "Music", "Movie", "Book"],
        class: "form-control",
        placeholder: "Filter",
        selected: params[:query]
      %>
      <%= submit_tag "Filter", class: "btn-search" %>
    <% end %>
  </div>

  <%= link_to "Back to your creators", my_creators_path, class:"btn-ghost my-3 mx-4" %>

  <%# New card version test %>
  <div class="container-creator-selection">
    <div class="cards">
      <% @creators.each do |author| %>
        <div id="<%= author.id %>" class="card-trip" data-controller="my-creator-new" data-my-creator-new-target="creator">
          <img src="<%= author.poster_url %>" alt="Album poster"/>
          <div class="card-trip-infos text-center">
            <%= author.name %>
            <%= form_with url: ajax_creator_path, :html => {:"data-action" => 'click->my-creator-new#save'}, method: :post do |f| %>
              <%= f.text_field :creator_id, type: :hidden, value: author.id %>
              <%= f.submit '+', :class => 'btn-follow' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
