<div class="contain">
  <div class="titler">
    <h1>Discover the latest <span class="green-text">music</span> from you favorite artists</h1>
  </div>
<%# --------------------CAROUSEL------------------------------------------------------ %>
  <div class="center-carousel mh-25 w-100 mb-5" >
    <div class="carousel-img mh-25 mb-5">
      <%= render "shared/carousel-music" %>
    </div>
  </div>
  <div class="green-div w-100 h-20 mb-5 py-5 d-flex justify-content-center">
    <%= form_with url: musics_path, method: :get, class: "d-flex w-50 px-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search your music"
      %>
      <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>

<%# ----------------------------Album Cards------------------------------------ %>
  <div class="titler">
    <h1> Upcoming <span class="green-text">albums</span> from you favorite artists</h1>
  </div>
  <div class="cards">
    <% @albums.each do |album| %>
      <% if current_user.creators.ids.include? album.creator_id %>
        <div class="card-trip">
          <div data-controller="music-index">
            <% if current_user.favorited?(album) %>
              <%= link_to custom_unfav_path(album), data: { turbo_method: :post } do %>
                <i class="fa-solid fa-heart btn-heart-checked" data-action="click->music-index#favorite"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_music_path(album), data: { turbo_method: :post } do %>
                <i class="fa-solid fa-heart btn-heart-unchecked" data-action="click->music-index#favorite"></i>
              <% end %>
            <% end %>
            <%= link_to music_path(album) do %>
                <div class="img-contain">
                  <img class="img centered" src= "<%= album.poster_url %>", alt="Book poster">
                </div>
              <% end %>
            <div class="card-trip-infos">
              <p id="content-title"><%= link_to album.name, music_path(album) %></p>
              By <%= album.creator.name %> <br>
              <br>
              <i class="fa-solid fa-calendar-day"></i>
              <%= album.release_date %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="titler">
    <h1>Upcoming <span class="green-text">concerts</span> happening near you</h1>
  </div>
  <div class="cards ">
    <% @concerts.each do |concert| %>
      <% if current_user.creators.ids.include? concert.creator_id %>
        <div class="card-trip" data-controller="music-index">
          <% if current_user.favorited?(concert) %>
            <%= link_to custom_unfav_path(concert), data: { turbo_method: :post } do %>
              <i class="fa-solid fa-heart btn-heart-checked" data-action="click->music-index#favorite"></i>
            <% end %>
          <% else %>
            <%= link_to favorite_music_path(concert), data: { turbo_method: :post } do %>
              <i class="fa-solid fa-heart btn-heart-unchecked" data-action="click->music-index#favorite"></i>
            <% end %>
          <% end %>
          <%= link_to music_path(concert) do %>
            <div class="img_contain">
              <img class="" src= "<%= concert.poster_url %>", alt="Book poster">
            </div>
          <% end %>
          <div class="card-trip-infos">
            <p id="content-title"><%= link_to concert.name, music_path(concert) %></p>
             <br>
            <i class="fa-solid fa-location-dot"></i>
            <%= concert.venue %>
            <br>
            <i class="fa-solid fa-calendar-day"></i>
            <%= concert.date %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
