<div class="contain">
  <div class="titler">
    <h1>Discover the latest <span class="green-text">music</span> from you favorite creators</h1>
  </div>

  <div class="center-carousel mh-25 w-100 mb-5" >
    <div class="carousel-img mh-25 mb-5">
      <%= render "shared/carousel-music" %>
    </div>
  </div>
  <div class="green-div w-100 h-20 mb-5 py-5 d-flex justify-content-center">
    <%= form_with url: musics_path, method: :get, class: "d-flex w-50 px-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a music"
      %>
      <%= submit_tag "Search", class: "btn-search" %>
    <% end %>
  </div>

  <div class="cards">
    <% @albums.each do |album| %>
      <% if current_user.creators.ids.include? album.creator_id %>
        <div class="card-trip">
          <img src= "<%= album.poster_url %>", alt="Book poster">
          <div class="card-trip-infos">
            <strong>Title: </strong><%= link_to album.name, music_path(album) %> <br>
            <strong>Release Date: </strong><%= album.release_date %> <br>
            <strong>Artist: </strong> <%= album.creator.name %>
          </div>
          <div data-controller="music-index">
            <% if current_user.favorited?(album) %>
              <%= link_to custom_unfav_path(album), data: { turbo_method: :post } do %>
                <i class="fa-solid fa-heart" style="color:#0ecdab;" data-action="click->music-index#favorite"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_music_path(album), data: { turbo_method: :post } do %>
                <i class="fa-solid fa-heart" data-action="click->music-index#favorite"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="titler">
    <h1>Discover the upcoming <span class="green-text">concerts</span> from you favorite creators</h1>
  </div>
  <div class="cards ">
    <% @concerts.each do |concert| %>
      <% if current_user.creators.ids.include? concert.creator_id %>
        <div class="card-trip">
          <img src= "<%= concert.poster_url %>", alt="Book poster">

        <div class="card-trip-infos">
          <strong>Title: </strong><%= link_to concert.name, music_path(concert) %> <br>
          <strong>Date: </strong><%= concert.date %> <br>
          <strong>Artist: </strong> <%= concert.creator.name %> <br>
          <strong>Venue: </strong> <%= concert.venue %> <br>
          <strong>Address: </strong> <%= concert.address %> <br>

          </div>
          <% if current_user.favorited?(concert) %>
            <%= link_to custom_unfav_path(concert) do %>
              <i class="fa-solid fa-heart" style="color:#0ecdab;"></i>
            <% end %>
          <% else %>
            <%= link_to favorite_music_path(concert) do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
