<% if @concert_music.nil? %>
  <div class="show-align-vertical">
      <div class="content-details">
        <div class="shower-container">
          <div class="music-img">
            <%= image_tag @album_music.poster_url %>
          </div>
          <div class="card-content-details">
            <h1 class="card-title my-3"> <%= @album_music.name %> </h1>
            <h3 class="card-text my-3">
                By <%= @album_music.creator.name %>
            </h3>
            <p class="card-text mt-4">Release date: <%= @album_music.release_date %></p>
          </div>
        </div>
      </div>

      <% concerts = Concert.where(creator: @album_music.creator) %>
      <% unless concerts.empty? %>
      <div class="titler">
        <h3>Don’t miss out the upcoming <span class="green-text">concerts</span> by <span class="green-text"><%= @album_music.creator.name %></span></h3>
          <div class="cards">
            <% concerts.each do |concert| %>
              <div class="card-product-concert">
                <i class="fa-solid fa-ticket px-3"></i>
                <div>
                  <h2><strong> <%= link_to "Buy a Ticket", concert.event_url, target: "_blank" %></strong></h2>
                  <p class="black-text"><%= concert.date %></p>
                  <p class="black-text"><%= concert.venue %></p>
                  <p class="black-text"><%= concert.address %></p>
                </div>
                <div class="music-imger">
                  <%= image_tag @album_music.poster_url %>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <% end %>
  <% if @album_music.nil? %>
    <div class="shower-align-vertical">
      <div class="content-details">
        <div class="shower-container">
          <div class="book-img">
            <%= image_tag @concert_music.poster_url, class: "img-size"%>
          </div>
          <div class="mx-5">
            <h1 class="card-title"><%= @concert_music.name %></h1>
            <p class="card-text my-4"><%= @concert_music.creator.name %></p>
            <p class="card-text">Concert on <%= @concert_music.date %></p>
            <p class="card-text">Venue: <%= @concert_music.venue %></p>
            <p class="card-text">Address: <%= @concert_music.address %></p>
            <%= link_to "Book a Ticket", @concert_music.event_url, target: "_blank", class: "btn-ghost" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
